.stats {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statsItem {
    align-items: center;
        border-right: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        padding: 15px;
        background-color: rgb(181, 175, 175);
}

.label {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: rgb(113, 108, 108);
}

.quantity {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: rgb(20, 20, 20)
}