.transactionHistory {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid rgb(207, 204, 204);
}

thead {
    background-color: #0e8bf2;
    color: #ffffff;
    padding-top: 20px;
}

tr {
    text-align: center;
    height: 45px;
    padding: 20px;
}

tr:nth-child(2n) {
   background-color: #f1f1f1;
}
